.login {
    margin: 0 auto;
    width: 50%;
    background-color: #bbb;
    border:2px solid #000;
}

input {
    outline: none;
}

.links {

}

.nav {
    height: 40px;
}

.main-menu {
    display: none;
}